<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
        backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Socialstream Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
    </php>
</phpunit>
