name: tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:

    runs-on: ubuntu-18.04
    strategy:
      fail-fast: true
      matrix:
        php: [ '8.0', 8.1 ]
        laravel: [ 9 ]

    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: |
          composer require "illuminate/contracts=^${{ matrix.laravel }}" --no-update
          composer update --prefer-dist --no-interaction --no-progress

      - name: Execute tests
        run: vendor/bin/phpunit --verbose

  stub-tests:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: true
      matrix:
        stack: [ inertia, livewire ]

    name: Test Stubs (${{ matrix.stack }})

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          extensions: dom, curl, libxml, mbstring, zip
          ini-values: error_reporting=E_ALL
          tools: composer:v2
          coverage: none

      - name: Setup Laravel
        run: |
          composer create-project laravel/laravel:^9 .
          composer require joelbutcher/socialstream:^2
          rm -rf vendor/joelbutcher/socialstream
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: 'vendor/joelbutcher/socialstream'

      - name: Install Jetstream & Socialstream
        run: |
          composer dump
          php artisan jetstream:install ${{ matrix.stack }} --teams --api --verification
          php artisan socialstream:install

      - name: Execute tests
        run: vendor/bin/phpunit --verbose
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: ":memory:"
