name: tests

on:
  push:
    branches:
      - main
      - '*.x'
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:

    runs-on: ubuntu-18.04
    strategy:
      fail-fast: true
      matrix:
        php: [ '8.0', 8.1, 8.2 ]
        laravel: [ 9, 10 ]
        exclude:
          - php: '8.0'
            laravel: 10

    name: Run Tests – PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: |
          composer require "illuminate/contracts=^${{ matrix.laravel }}" --no-update
          composer update --prefer-dist --no-interaction --no-progress

      - name: Execute tests
        run: vendor/bin/phpunit

  stub-tests:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: true
      matrix:
        php: [ '8.0', 8.1, 8.2 ]
        laravel: [ 9, 10 ]
        stack: [ inertia, livewire ]
        exclude:
          - php: '8.0'
            laravel: 10

    name: Test Stubs - PHP ${{matrix.php }} – Laravel ${{ matrix.laravel }} - ${{ matrix.stack }}

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: dom, curl, libxml, mbstring, zip
          ini-values: error_reporting=E_ALL
          tools: composer:v2
          coverage: none

      - name: Setup Laravel
        run: |
          composer create-project laravel/laravel:${{ matrix.laravel }} .
          composer require joelbutcher/socialstream:* --no-interaction --no-update
          composer config repositories.socialstream '{"type": "path", "url": "socialstream"}' --file composer.json

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          path: 'socialstream'

      - name: Install Socialstream
        run: |
          composer update "joelbutcher/socialstream" --prefer-dist --no-interaction --no-progress -W
          php artisan socialstream:install --stack=${{ matrix.stack }} --teams --api --verification

      - name: Install NPM dependencies
        run: npm i

      - name: Compile assets
        run: npm run build

      - name: Execute tests
        run: vendor/bin/phpunit
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: ":memory:"
